@font-face {
  font-family: 'Nunito-Medium';
  src: url('@/assets/fonts/Nunito-Medium.woff2') format('woff2'),
       url('@/assets/fonts/Nunito-Medium.woff') format('woff'),
       url('@/assets/fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'linhai';
  src: url('@/assets/fonts/linhai.woff2') format('woff2'),
       url('@/assets/fonts/linhai.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
